:root {
    --secondary_color: #0c0032;
    --main_color: #190061;
    --dark_color: #280828;
    --light_color: #3500d3;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    border: none;
}

.main_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

.sidebar_left,
.sidebar_right {
    background: purple;
}

.center {
    display: grid;
    place-items: center;
    background: var(--dark_color);
}

.gameboard {
    border: 2px solid rebeccapurple;
    display: grid;
    width: auto;
    grid-template-columns: 100px 5px 100px 5px 100px;
    grid-template-rows: 100px 5px 100px 5px 100px;
}

.column_gap,
.row_gap {
    background: rgb(134, 91, 134);
}

.column_gap {
    grid-row: 1 / -1;
}

.column_gap.cgp1 {
    grid-column: 2;
}

.column_gap.cgp2 {
    grid-column: 4;
}

.row_gap {
    grid-column: 1 / -1;
}

.row_gap.rgp1 {
    grid-row: 2;
}

.row_gap.rgp2 {
    grid-row: 4;
}

.board_tile {
    background: mistyrose;
    font-size: 2rem;
    user-select: none;
}

.selected {
    background: rgb(247, 200, 244);
}

#reset_board {
    border: 2px solid var(--light_color);
    color: var(--light_color);
    background: var(--dark_color);

    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
}

#reset_board:hover {
    color: mistyrose;
    background: var(--light_color);
}

#modal {
    border: 1px solid rgb(161, 112, 161);
    border-radius: 10px;
    color: #fff;
    font-size: 5rem;
    padding: 50px;
    min-width: 80%;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

    z-index: 10;
    user-select: none;

    display: grid;
    place-items: center;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);

    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#turns,
#player {
    color: var(--light_color);
    font-size: 2.8rem;
    font-weight: bold;
}
